/* COLORS */

.water {
    background-color: #98b4cb;
}

.fire {
    background-color: #d17777;
}

.grass {
    background-color: #98cba2;
}

.electric {
    background-color: #ffc107;
}

.ice {
    background-color: #ADD8E6;
}

.fighting {
    background-color: #D35400;
}

.poison {
    background-color: #9D38BD;
}

.ground {
    background-color: #D2B48C;
}

.flying {
    background-color: #87CEFA;
}

.psychic {
    background-color: #FF9D38;
}

.bug {
    background-color: #A9A9A9;
}

.rock {
    background-color: #BDB76B;
}

.ghost {
    background-color: #D3D3D3;
}

.dragon {
    background-color: #FFD700;
}

.dark {
    background-color: #333333;
}

.steel {
    background-color: #B8860B;
}

.fairy {
    background-color: #FFC0CB;
}

.normal {
    background-color: #a2b1ff;
}

/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 20px 20px;
    padding: 2rem 5rem;
    margin: 0 auto;
}

.content img {
    height: 14rem;
}

.content h1 {
    font-size: 5rem;
    margin-top: 0.1rem;
    color: #0a152b;
    text-align: center;
}

.pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon {
    width: 15rem;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 1rem;
    color: #fff;
}

.pokemons .name {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.pokemons .number {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-align: right;
}

.pokemons .detail {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 8rem;
    width: 110%;
    align-items: self-start;
}

.pokemons .detail img {
    position: relative;
    width: 7.5rem;
    bottom: -.6rem;
    height: 100%;
}

li {
    list-style: none;
}

.detail .types {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    filter: brightness(1.1);
}

.types .type {
    font-size: 14px;
    width: min-content;
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0;
    text-align: center;
    border-radius: 2rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.pagination button {
    border: .2rem solid #0a152b;
    padding: .8rem .8rem;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}