/* COLORS */

.water {
    background-color: #98b4cb;
}

.fire {
    background-color: #d17777;
}

.grass {
    background-color: #98cba2;
}

.electric {
    background-color: #ffc107;
}

.ice {
    background-color: #ADD8E6;
}

.fighting {
    background-color: #D35400;
}

.poison {
    background-color: #9D38BD;
}

.ground {
    background-color: #D2B48C;
}

.flying {
    background-color: #87CEFA;
}

.psychic {
    background-color: #FF9D38;
}

.bug {
    background-color: #A9A9A9;
}

.rock {
    background-color: #BDB76B;
}

.ghost {
    background-color: #D3D3D3;
}

.dragon {
    background-color: #FFD700;
}

.dark {
    background-color: #333333;
}

.steel {
    background-color: #B8860B;
}

.fairy {
    background-color: #FFC0CB;
}

.normal {
    background-color: #a2b1ff;
}

/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 20px 20px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.content header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.content img {
    height: 10rem;
    margin-right: 1rem;
}

.content h1 {
    font-size: 5rem;
    color: #0a152b;
    text-align: center;
}

.pokemons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.pokemon {
    width: 15rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    color: #fff;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 13rem;
    position: absolute;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 1rem;
    overflow: hidden;

    transition: all .5s;
}

.card:hover,
.card:target,
.card:focus {
    height: 27rem;
    z-index: 100;
}

.card .name {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card .number {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-align: right;
}

.card .detail {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 8rem;
    width: 110%;
    align-items: self-start;
}

.card .detail img {
    position: relative;
    width: 7.5rem;
    height: 100%;
}

li {
    list-style: none;
}

.detail .types {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    filter: brightness(1.1);
}

.types .type {
    font-size: .875rem;
    width: min-content;
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0;
    text-align: center;
    border-radius: 2rem;
}

.pokemon-ability-info {
    margin-top: 2rem;
}

.pokemon-ability-info ul {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-ability-info li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 50%;
}

.pokemon-ability-info ul li:nth-last-child(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.atribute-title {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2rem;
}

.atribute-value {
    font-size: .875rem;
    width: min-content;
    padding: 0.4rem 0.8rem;
    text-align: center;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: capitalize;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.pagination button {
    border: .2rem solid #0a152b;
    padding: .8rem .8rem;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}