:root {
    --color-water: #98b4cb;
    --color-fire: #d17777;
    --color-grass: #98cba2;
    --color-electric: #FFFF00;
    --color-ice: #E0FFFF;
    --color-fighting: #D35400;
    --color-poison: #9D38BD;
    --color-ground: #D2B48C;
    --color-flying: #87CEFA;
    --color-psychic: #FF9D38;
    --color-bug: #A9A9A9;
    --color-rock: #BDB76B;
    --color-ghost: #D3D3D3;
    --color-dragon: #FFFF00;
    --color-dark: #333333;
    --color-steel: #B8860B;
    --color-fairy: #FFE4E1;
}

/* COLORS */

.water {
    background-color: #98b4cb;
}

.fire {
    background-color: #d17777;
}

.grass {
    background-color: #98cba2;
}

.electric {
    background-color: #FFFF00;
}

.ice {
    background-color: #E0FFFF;
}

.fighting {
    background-color: #D35400;
}

.poison {
    background-color: #9D38BD;
}

.ground {
    background-color: #D2B48C;
}

.flying {
    background-color: #87CEFA;
}

.psychic {
    background-color: #FF9D38;
}

.bug {
    background-color: #A9A9A9;
}

.rock {
    background-color: #BDB76B;
}

.ghost {
    background-color: #D3D3D3;
}

.dragon {
    background-color: #FFFF00;
}

.dark {
    background-color: #333333;
}

.steel {
    background-color: #B8860B;
}

.fairy {
    background-color: #FFE4E1;
}

/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 20px 20px;
    padding: 2rem 5rem;
    margin: 0 auto;
}

.content img {
    height: 18rem;
}

.content h1 {
    font-size: 5rem;
    margin-top: 0.1rem;
    color: #0a152b;
    text-align: center;
}

.pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon {
    width: 15rem;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 1rem;
    color: #fff;
}

.pokemons .name {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.pokemons .number {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-align: right;
}

.pokemons .detail {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 8rem;
    width: 110%;
    align-items: self-start;
}

.pokemons .detail img {
    position: relative;
    width: 7.5rem;
    bottom: -.6rem;
    height: 100%;
}

li {
    list-style: none;
}

.detail .types {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    filter: brightness(1.1);
}

.types .type {
    font-size: 14px;
    width: min-content;
    /* background: rgba(255, 255, 255, 0.2); */
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0;
    text-align: center;
    border-radius: 2rem;
}